plugins/bStats
plugins/floodgate/key.pem
plugins/Geyser-Spigot/cache
plugins/Geyser-Spigot/locales
plugins/GSit/data
plugins/GSit/emotes
plugins/GSit/lang
plugins/ImageFrame/data
plugins/LastLoginAPI/libraries
plugins/LastLoginAPI/database.mv.db
plugins/LuckPerms/libs/
plugins/LuckPerms/translations
plugins/LuckPerms/luckperms-h2-v2.mv.db
plugins/OreAnnouncer/libraries
plugins/OreAnnouncer/database.mv.db
plugins/ProtocolLib/lastupdate
plugins/spark/tmp
plugins/UltimateTimber/locales