banned-ips.json
banned-players.json
cache
eula.txt
libraries
logs
map-color-cache.dat
ops.json
plugins/*.jar
plugins/CoreProtect/database.db
plugins/Essentials/userdata
plugins/Essentials/usermap.csv
plugins/GSit/data
plugins/GSit/emotes
plugins/GSit/lang
plugins/Geyser-Spigot/cache
plugins/Geyser-Spigot/locales
plugins/GriefPreventionData/ClaimData
plugins/GriefPreventionData/Logs
plugins/GriefPreventionData/PlayerData
plugins/ImageFrame/data
plugins/InventoryRollbackPlus/backups
plugins/LastLoginAPI/database.mv.db
plugins/LastLoginAPI/libraries
plugins/LuckPerms/editor-keystore.json
plugins/LuckPerms/libs/
plugins/LuckPerms/luckperms-h2-v2.mv.db
plugins/LuckPerms/translations
plugins/OreAnnouncer/database.mv.db
plugins/OreAnnouncer/libraries
plugins/ProtocolLib/lastupdate
plugins/UltimateTimber/locales
plugins/bStats
plugins/floodgate/key.pem
plugins/spark/activity.json
plugins/spark/tmp
server-icon.png
server.jar
server.jar.old
usercache.json
version_history.json
versions
whitelist.json
world/*
world_nether/*
world_the_end/*
!world/paper-world.yml
!world_nether/paper-world.yml
!world_the_end/paper-world.yml