plugins/bStats
plugins/Essentials/userdata
plugins/Essentials/usermap.csv
plugins/floodgate/key.pem
plugins/Geyser-Spigot/cache
plugins/Geyser-Spigot/locales
plugins/GriefPreventionData/ClaimData
plugins/GriefPreventionData/Logs
plugins/GriefPreventionData/PlayerData
plugins/GSit/data
plugins/GSit/emotes
plugins/GSit/lang
plugins/ImageFrame/data
plugins/InventoryRollbackPlus/backups
plugins/LastLoginAPI/libraries
plugins/LastLoginAPI/database.mv.db
plugins/LuckPerms/libs/
plugins/LuckPerms/translations
plugins/LuckPerms/editor-keystore.json
plugins/LuckPerms/luckperms-h2-v2.mv.db
plugins/OreAnnouncer/libraries
plugins/OreAnnouncer/database.mv.db
plugins/ProtocolLib/lastupdate
plugins/spark/tmp
plugins/spark/activity.json
plugins/UltimateTimber/locales